* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-white: #fff;
    --header-bg-color: #c12d39;
    --primary-green: #016401;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.container {
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
    background-color: var(--primary-green);
}

header.header {
    background-color: var(--header-bg-color);
    padding: 20px;
    display: flex;
    justify-content: center;
}

header.header h1 {
    color: var(--primary-white);
    font-size: 2.5rem;
}

main {
    flex: 1;
    margin-top: 10px;
    position: relative;
}

main img {
    width: 1200px;
    height: 86vh;
}

.content-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.content-container section {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: fit-content;
    min-width: 300px;
    padding: 10px 0;
}

.content-container section.end {
    align-self: end;
}

.content-container div {
    background-color: var(--primary-green);
    margin-bottom: 20px;
    max-width: 80%;
    padding: 10px;
    color: var(--primary-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.content-container div img {
    width: 60px;
    height: 60px;
}


.content-container section ul {
    list-style-type: none;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


footer {
    background-color: var(--header-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-bottom: 40px;
    gap: 5px;
}

footer p {
    color: var(--primary-white);
    font-weight: 300;
    font-size: 1rem;
}