@media screen and (max-width: 555px) {
    main img {
        height: 500px;
    }

    .content-container {
        position: relative;
        flex-direction: column;
        gap: 1px;
        padding: 0px !important;
    }

    .content-container section {
        min-width: 100%;
        max-width: 100%;
        background-color: #fff;
        padding-bottom: 20px;
    }

    .content-container div {
        background-color: transparent;
        text-align: center;
        color: #000;
        font-size: 2.5rem;
        font-weight: 400;
        max-width: 100%;
        flex-direction: column;
        height: auto;
    }
}