* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-red: #c12d39;
    --primary-green: #016401;
    --white: #ffffff;
    --overlay: rgba(255, 255, 255, 0.85);
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--primary-green);
}

.container {
    max-width: 1200px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: var(--primary-red);
    text-align: center;
    padding: 1.5rem;
}

.header h1 {
    color: var(--white);
    font-size: 2.5rem;
}

main {
    position: relative;
    flex: 1;
}

.hero {
    width: 100%;
    height: 85vh;
    object-fit: cover;
}

.content-container {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.card {
    background-color: var(--overlay);
    backdrop-filter: blur(10px);
    padding: 1rem;
    min-width: 280px;
    height: fit-content;
}

.card h2 {
    background-color: var(--primary-green);
    color: var(--white);
    padding: 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.card ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.weather {
    align-self: flex-end;
}

.weather-icon {
    width: 60px;
    display: none;
}

footer {
    background-color: var(--primary-red);
    color: var(--white);
    text-align: center;
    padding: 1.5rem;
    font-weight: 300;
}
